body {
  margin: 0;
  background-color: #ffffff;
  /* Разрешаем скролл для всего body */
  overflow-x: hidden;
}

#canvas-container {
  /* Фиксируем канвас на всю страницу */
  position: fixed;
  background-color: #ffffff;
  mix-blend-mode: normal;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none; /* Чтобы можно было скроллить под канвасом */
}
#canvas-container canvas {
  display: block;
  background-color: #ffffff;
}

.content-scroll {
  /* Отступ сверху = высота viewport + 2000px скролла */
  margin-top: calc(100vh + 2000px);
  position: relative;
  z-index: 5;
  /* Остальные стили для контента */
}

.text-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  z-index: 1000;
  pointer-events: none;
}

.text-overlay.visible {
  opacity: 1;
}

.text-overlay h1, .text-overlay .zorko {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.text-overlay.visible h1, .text-overlay.visible .zorko {
  transform: translateY(0);
  opacity: 1;
}

/* Задержка для параграфа */
.text-overlay.visible .zorko {
  transition-delay: 0.3s;
}